@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #f3f6fd;
  color: #1f1c2e;
}

/* App */
.app-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: 0.2s;
  max-width: 1800px;
}

.app-wrapper {
  height: 100%;
  display: flex;
}

/* Header */
.header {
  background: red;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Navbar */
.navbar {
  background: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Project */
.projects {
  background: darkblue;
}

/* Massages */
.messages {
  background: darkorange;
}
