@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #f3f6fd;
  color: #1f1c2e;
  transition: 0.2s;
}

/* App */
.app-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: 0.2s;
  max-width: 1800px;
}

.app-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 12fr 6fr;
}

/* Header */
.header {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  padding: 16px 24px;
}

.header input {
  border: none;
  outline: none;
  height: 100%;
  font-size: 16px;
  width: 100%;
}

.search-bar {
  padding: 0 24px;
  height: 40px;
  width: 480px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  align-items: center;
}

.search-bar svg {
  justify-content: flex-end;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right svg {
  width: 30px;
  height: 30px;
  margin: 16px 0;
  color: #1f1c2e;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.navbar svg {
  width: 40px;
  height: 40px;
  margin: 16px 0;
  color: #1f1c2e;
}

/* Project */
.projects {
  background: #fff;
  border-radius: 30px;
  padding: 32px 32px 0 32px;
}

/* Massages */
.messages {
  background: #fff;
  border-radius: 30px;
  margin: 0 30px;
  padding: 32px 32px 0 32px;
}
